*{
	margin:0;
	padding:0; 
	box-sizing: border-box;
	font-family: "Open Sans";
}

html, body{
	height: 100%;
}

.clear{
	clear: both;
}

@font-face{
	src: url('../fonts/OpenSans-Regular.ttf');
	font-family: "Open Sans";
}

.center{
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;

}
/*--------HEADER----------*/

.header{
	width: 100%;
	height: 100px;
	padding: 0 2%;
	background:#169565;	
}

.header-logo img{
	margin: 10px;
	height: 80px;
	float: left;
}

nav.desktop-menu ul{
	float: right;
	display: inline-flex;
}

nav.desktop-menu ul li{
	width: 160px;
	padding: 36px 0px;
	list-style-type: none;
	text-align: center;
}

nav.desktop-menu ul li a{
	font-size: 20px;
	text-decoration: none;
	color: white;
}

nav.desktop-menu ul li:hover{
	background: #ee5b4a;
}

nav.desktop-menu ul li:hover ul {
	display: block;
	z-index: 1;
}
nav.desktop-menu ul li ul{
	position: absolute;
	width: inherit;
	padding-top: inherit;
	display: none;
}

nav.desktop-menu ul li ul li{
	background: #ee5b4a;
	display: block;
}

nav.desktop-menu ul li ul li a{
	display: block !important;
	color: white;
}

nav.desktop-menu ul li ul li:hover{
	background: #666;
	transition: all 0.5s;
}

/*mobile-menu*/
nav.mobile-menu{
	display: none;
	float: right;
	width: 44px;
	height: 44px;
	background-image: url(../imagens/grid.png);
	background-size: 100% 100%;
	cursor: pointer;
	margin-top: 30px;
}

nav.mobile-menu ul{
	display: none;
	position: absolute;
    text-align: center;
    width: 100%;
    left: 0;
    top: 100px;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 3;
}

nav.mobile-menu ul li{
	padding: 24px 0;
	text-transform: uppercase;

}
nav.mobile-menu ul li:hover{
	background-color: rgba(238, 91, 74);
}
nav.mobile-menu ul li a{
	color: rgb(58, 58, 58);
	text-decoration: none;
	font-size: 23.5px;
}
/*fim mobile-menu*/
@media screen and (max-width: 880px){
	nav.desktop-menu{
		display: none;
	}
	nav.mobile-menu{
		display: block;
	}

}

/*--------FIM HEADER----------*/

/*--------SECTION-LOGOTIPO----------*/
.section-logotipo{
	width: 100%;
	height: 400px;
	background-image: linear-gradient(to top, #169565, #46d5a0);
	z-index: 2;
}

.logo-animado{
	width: 100%;
	height: 450px;
	margin: 0 auto;
	position: relative;
	top: -20px;
	background-image: url(../imagens/quadros2/1.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	animation-name: logoanimado;
	animation-duration: 0.8s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes logoanimado{
	0%{
		background-image: url(../imagens/quadros2/1.png);
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
	}
	10%{
		background-image: url(../imagens/quadros2/2.png);
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
	}
	20%{
		background-image: url(../imagens/quadros2/3.png);
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
	}
	30%{
		background-image: url(../imagens/quadros2/4.png);
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
	}
	40%{
		background-image: url(../imagens/quadros2/5.png);
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
	}
	50%{
		background-image: url(../imagens/quadros2/6.png);
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
	}
	60%{
		background-image: url(../imagens/quadros2/7.png);
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
	}
	70%{
		background-image: url(../imagens/quadros2/8.png);
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
	}
	80%{
		background-image: url(../imagens/quadros2/9.png);
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
	}
	90%{
		background-image: url(../imagens/quadros2/10.png);
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
	}
	100%{
		background-image: url(../imagens/quadros2/10.png);
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
	}
}
/***FIM SECTION-LOGOTIPO***/

/***SECTION-VIDEO-CONTAINER***/
.video-container{
	width: 100%;
	height: 60vh;
	max-height: 400px;
	overflow: hidden;
	position: relative;
}

.video-container video{
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	width: 100%;
}

.overlay{
	position: absolute;
	z-index:1;
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
	transition: all 0.7s;
}

.overlay:hover{
	background: rgba(0, 0, 0, 0.5);
}

.text-overlay{
	width: 100%;
	margin: 0 auto;
}

.overlay .text-overlay h3{
	margin-top: 80px;
	color: white;
	font-size: 60px;
	text-align: center;
}

.overlay .text-overlay p{
	margin-top: 35px;
	color: white;
	font-size: 35px;
	text-align: center;
}

@media screen and (max-width: 880px){
	.overlay .text-overlay h3{
		margin-top: 100px;
		color: white;
		font-size: 35px;
		text-align: center;
	}
	.overlay .text-overlay p{
		margin-top: 30px;
		color: white;
		font-size: 20px;
		text-align: center;
	}
	.video-container video{
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		width: 200%;
	}
	
	
}
/***FIM SECTION-VIDEO-CONTAINER***/

/***SECTION-QUERO APRENDER***/
.container{
	padding: 80px 0;
	background-image: linear-gradient(to bottom, #169565, #46d5a0);
}

.center{
	width: 100%;
	max-width: 1400px;
	padding: 0 2%;
}

.container-sobre{
	float: left;
	width: 50%;
}
.container-info h2{
	color: white;
	font-weight: normal;
	font-size: 30px;
	padding-right: 10px;
}

.container-info p{

	color: white;
	font-size: 20px;
	padding-right: 20px;
	padding-top: 8px;

}

.container-info .button{
	float: left;
	width: 250px;
	height: 50px;
	margin-top: 40px;
	background-color: #ee5b4a;
	color: white;
	font-size: 20px;
	cursor: pointer;
	border: none;
	border-radius: 10px;
	outline: none;
	box-shadow: 0 9px rgb(107, 76, 76);
}

.container-video{
	float: left;
	width: 50%;
	border: 5px solid white;
	padding-top: calc(50% * 0.6);
	position: relative;
}

.box-video iframe{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.button:hover{
	background-color: #f76555;
}

.button:active{
	background-color: #f76555;
	box-shadow: 0 5px #666;
	transform: translateY(3px);
}

.button span{
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.button span:after{
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}

.button:hover span{
	padding-right: 25px;
}

.button:hover span:after{
	opacity: 1;
	right:0;
}

@media screen and (max-width: 880px){
	.container-sobre{
		float: none;
		width: 100%;
		text-align: center;
	}
	.container-info .button{
		float: none;
		margin-bottom: 50px;
	}
	.container-video{
		float: none;
		width: 100%;
		border: 5px solid white;
		padding-top: calc(100% * 0.6);
		position: relative;
	}

}
/*--------FIM SECTION-QUERO-APRENDER----------*/

/*--------SECTION-INFO----------*/

.section-info{
	display: flex;
}

.container-mascote{
	width: 50%;
	background-color: #ee5b4a;
	padding: 2px 2%;
}
.container-grafico{
	width: 50%;
	background-color: #ee5b4a;
	padding: 20px 2%;
}
.parent-mascote{
	display: grid;
	place-items: center;
	margin: 0 auto;
	width: 80%;
	height: 350px;
	position: relative;
	
}
.child-mascote{
	background-image: url(../imagens/mascote-box.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 600px;
	height: 400px;
	position: absolute;
	top: -50px;
	z-index: 1;
}

.obj{
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 80%;
	height: 350px;
	margin: 0 auto;
}
.obj-child{
	height: 250px;
	flex: 1 1 150px; /*  Stretching: */
    flex: 0 1 150px; /*  No stretching: */
	margin: 5px;
	border-radius: 20px;
	background-color: rgba(255, 255, 255, 0.4);
	text-align: center;
}
.obj-child p{
	color: white;
	font-size: 15px;

}
.obj-child img{
	position: relative;
	top: -25px;
}
@media screen and (max-width: 940px){
	.section-info{
		flex-direction: column;
	}
	.container-mascote{
		display: inline-block;
		width: 100%;
	}
	.container-grafico{
		display: inline-block;
		width: 100%;
	}
	.child-mascote{
		width: 500px;
		height: 320px;
	}
	
}
/*--------FIM-SECTION-INFO----------*/

/*--------SECTION-ARTES----------*/
section.artes{
	width: 100%;
	background-color: #ee5b4a;
}
.artes-wrapper{
	padding: 4%;
	position: relative;
}

.linha{
	position: absolute;
	display: grid;
	place-items: center;
	margin: 0 auto;
	width: 90%;
	height: 3px;
	background: #46d5a0;
}

section.artes .texto-artes{
	margin-top: -15px;
	background: #ee5b4a;
	padding: 0 18px;
}

section.artes .texto-artes h2{
	color: white;
	font-weight: normal;
	font-size: 20px;
}

/*--------FIM-SECTION-ARTES----------*/

/*--------SLIDER-CONTAINER---------*/
.slider-container{
	width: 100%;
	margin: 0 auto;

}
.slider{
	width: 100%;
	padding-top: 20%;
	position: relative;
}

.slider img.a{
	display: none;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.bullets-nav{
	position: absolute;
	left: 50%;
	bottom: 10px;
	transform: translateX(-50%);
	-ms-transform: translateX(-50%);
}

.bullets-nav span{
	float: left;
	width: 20px;
	height: 20px;
	border-radius: 20px;
	background-color: #ff6958;
	cursor: pointer;
	margin: 0 20px;
	z-index: 999;
}

/*--------FIM-SLIDER-CONTAINER----------*/


/*--------FOOTER----------*/

.footer{
	width: 100%;
	padding: 30px;
	background-color: #ee5b4a;
	position: relative;

}
.section1-footer{
	padding-top: 200px;
	margin: 0 auto;
	position: relative;
	border-bottom: 2px solid #46d5a0;
}

.logo-footer img{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	height: 100%;

}
.section2-footer{
	margin: 0 auto;
	position: relative;
}

.section2-flex{
	width: 100%;
	height: inherit;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 30px;
}

.flex-info{
	flex: 1 1 400px; /*  Stretching: */
	flex: 0 1 400px; /*  No stretching: */
	margin: 5px;
}

.flex-social{
	flex: 1 1 400px; /*  Stretching: */
	flex: 0 1 400px; /*  No stretching: */
	margin: 5px;
}

.flex-info h2{
	color: white;
	font-weight: normal;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.flex-info p{
	color: white;
	text-align: left;
}

.flex-social h2{
	color: white;
	font-weight: normal;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.flex-social p{
	color: white;
	text-align: left;
	text-transform: uppercase;
	font-size: 15px;
	margin-bottom: 20px;
}
.social-footer{
	display: flex;
	flex-flow: wrap;
	justify-content: space-between;
	width: 150px;
}



.back-to-top{
	background-color: #ee5b4a;
	color: #ffffff;
	display: inline-block;
	width: 50px;
	height: 50px;
	border-radius: 4px;
	position: absolute;
	right: 30px;
	bottom: 30px;
	opacity: 1;
	font-size: 20px;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	padding-top: 15px;
}

.back-to-top:hover{
	background: #169565;
	transition: 0.5s;
}

/*--------FIM FOOTER----------*/

.autor-pagina{
	width: 100%;
	padding: 15px;
	background-color: #555;
}
.container-autor{
	display: flex;
	justify-content: space-evenly;
	color: rgb(226, 226, 226);
}
.container-autor p{
	line-height: 35px;
}

@media screen and (max-width: 712px){
	.container-autor{
		display: block;
		text-align: center;
	}
}



/*--------SCROLL BAR----------*/
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1aa872; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
/*--------FIM SCROLL BAR----------*/